<div class="layui-header">
    <a class="layui-hide-xs">
    <div class="layui-logo">神龙销售管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    </a>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            ${user.getName()}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">个人资料</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/logout">退出</a></li>
    </ul>
</div>