<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">客户管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="${request.contextPath}/dashboard/new-customer/">新增客户</a></dd>
                    <dd><a href="${request.contextPath}/dashboard/all-customer/">所有客户</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">商品管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="${request.contextPath}/dashboard/new-product/">新增商品</a></dd>
                    <dd><a href="${request.contextPath}/dashboard/all-product/">所有商品</a></dd>
                </dl>
            </li>

        </ul>
    </div>
</div>