<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" type="text/css" href="/css/dmaku.css" />
</head>

<body background="404.jpg">
<p class="topimg"></p>
<p class="link">
    <a href="" target="_self">&#9666;返回首页</a>
    <a target="_self" href="javascript:;" onClick="javascript:history.back(-1);">&#9666;返回上一页</a>
</p>
<dl class="texts">

    <dd>
        <ul>
            <li>不要返回吗 ?</li>
            <li>确定不要返回吗 ?</li>
            <li>真的真的确定不要返回吗 ?</li>
            <li>好吧.还是随便你要不要真的确定返回吧 ! ~</li>
        </ul>
    </dd>
</dl>
</body>
</html>