<div class="footer_agileinfo_topf">
    <div class="container">
        <div class="col-md-4 footer_w3layouts_gridf">
            <h2><a href="index.html">神龙商城</a></h2>
            <p class="paragraphf">让世界上没有难卖的毛毯</p>
        </div>

        <div class="clearfix"> </div>
        <div class="w3ls-fsocial-grid">
            <h3 class="sub-w3ls-headf">Follow Us</h3>
            <div class="social-ficons">
                <ul>
                    <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                    <li><a href="#"><span class="fa fa-google"></span>Google</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-wthree-copyf">
    <div class="container">
        <div class="addressf-agileits-w3layouts">
            <p><span class="fa fa-map-marker" aria-hidden="true"></span>江苏省徐州市神龙大道神龙大厦1001</p>
        </div>
        <p>Copyright &copy; 2018.神龙商城<a target="_blank"/></p>
        <div class="clearfix"> </div>
    </div>
</div>