<!DOCTYPE html>
<html>

<head>
	<title>Mall</title>
	<!-- Meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Metga-tags -->

	<!-- Styleshets -->
	<link href="/mall/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-css -->
	<link href="/mall/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<!--// Responsive-tabs -->
	<link href="/mall/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!--// Pop-up -->
	<link href="/mall/css/banner.css" rel="stylesheet" type="text/css" media="all" />
	<!--// banner-css -->
	<link rel="stylesheet" href="/mall/css/shop.css" type="text/css" media="screen" property="" />
	<!--// shop-css -->
	<link href="/mall/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- common-css -->
	<link rel="stylesheet" href="/mall/css/client.css" type="text/css" media="all" />
	<!-- // client-css -->
	<link href="/mall/css/font-awesome.css" rel="stylesheet">
	<!-- // Font-awesome-css -->
	<!--// Styleshets -->

	<!-- Online-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<!--// Online-fonts -->

</head>

<body>
	<!-- header -->
	<#include "header.html"/>
	<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
			<li data-target="#myCarousel" data-slide-to="4" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<p>神龙商城</p>
						<h3>让世界上没有难卖的<span>毛毯.</span></h3>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<p>神龙商城</p>
						<h3>让世界上没有难卖的<span>毛毯.</span></h3>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<p>神龙商城</p>
						<h3>让世界上没有难卖的<span>毛毯.</span></h3>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<p>神龙商城</p>
						<h3>让世界上没有难卖的<span>毛毯.</span></h3>
					</div>
				</div>
			</div>
			<div class="item item5">
				<div class="carousel-caption">
					<p>神龙商城</p>
					<h3>让世界上没有难卖的<span>毛毯.</span></h3>
				</div>
			</div>
		</div>
		<!-- Arrows -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- //Arrows -->
	</div>
	<!--//banner -->
	<!-- about -->
	<div class="aboutf">
		<div class="container">
			<#if msg??>
				<h3 class="tittlef-agileits-w3layouts">${msg.getTitle()!}</h3>
				<p class="paragraphf">${msg.getContent()}</p>
				<#else>
					<h3 class="tittlef-agileits-w3layouts">欢迎游客光临</h3>
					<p class="paragraphf">想要使用神龙商城的服务您需要登录或者注册哟~</p>

			</#if>

		</div>
		<div class="banner_bottom_tab_grids">
			<div id="verticalTab" class="resp-vtabs" style="display: block; width: 100%; margin: 0px;">
				<ul class="resp-tabs-list">
					<center><h1>我们的商品</h1></center>
					<!--<li class="resp-tab-item" aria-controls="tab_item-0" role="tab">拉舍尔毛毯</li>-->
					<!--<li class="resp-tab-item" aria-controls="tab_item-1" role="tab">全毛毛毯</li>-->
					<!--<li class="resp-tab-item" aria-controls="tab_item-2" role="tab">全棉毛毯</li>-->
					<!--<li class="resp-tab-item" aria-controls="tab_item-3" role="tab">丝帛毯</li>-->
					<!--<li class="resp-tab-item" aria-controls="tab_item-4" role="tab">羊绒毛毯</li>-->
				</ul>
				<div class="resp-tabs-container">
					<!-- tab1 -->
					<div class="resp-tab-content resp-tab-content-active" style="display:block" aria-labelledby="tab_item-0">
						<!-- tabs-info -->
						<div class="main-topicsf">
							<#list product as p>
								<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
                                    <img src="${p.getImage()}" alt=""/>
									<div class="img-caption">

									</div>
									<h3 class="sub-w3ls-headf">${p.getName()}</h3>
									<p class="paragraphf">${p.getDetail()}</p>
								</div>
							</#list>

							<div class="clearfix"> </div>
						</div>

						<!-- //tabs-info -->
					</div>
					<!-- //tab1 -->
					<!-- tab2 -->

					<!--// tab2 -->

				</div>
			</div>
		</div>
	</div>
	<!-- //about-->
	<!-- Materials -->
	<div class="materialsf-section">
		<div class="container">
			<h3 class="tittlef-agileits-w3layouts white-clrf">热销毛毯</h3>
			<div class="carousel slide materialf-slider" id="myCarousel1">
				<div class="carousel-inner">

                    <!-- /Slide1 -->
					<div class="item active">
						<ul class="thumbnails">
							<#list hotproduct as p>
                                <li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
                                    <div class="fff">
                                        <div class="thumbnail">
                                            <a href="#"><img src="${p.getImage()}" alt=""></a>
                                            <p><span class="fa fa-hand-o-down" aria-hidden="true"></span>~hot~</p>
                                        </div>
                                        <div class="caption">
                                            <h4>热销毛毯简介</h4>
                                            <p>${p.getName()}</p>
                                            <div class="matrlf-mid">
                                                <h6><span>￥</span>${p.getPrice()}</h6>
                                                <ul class="rating">
                                                    <li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
                                                </ul>
                                                <div class="clearfix"> </div>
                                            </div>
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="edu_item" value="Book5">
                                                <input type="hidden" name="amount" value="80.00">
                                                <!--button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button-->
                                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </#list>

                        </ul>
                    </div>
				</div>

				<!-- //control-box -->
				<!-- //control-box -->
				<div class="clearfix"> </div>

			</div>


        </div>
	</div>


    </div>
    </div>
    </div>

    <div class="clearfix"> </div>
</div>
</div>
<!-- //Reviews -->

	<!--// Subscribe -->
	<!-- footer -->
	<#include "footer.html"/>
	<!-- //footer -->

	<!-- js -->

	<!-- Common js -->
	<script type="text/javascript" src="/mall/js/jquery-2.1.4.min.js"></script>
	<!--// Common js -->
	<script type="text/javascript">

        $("#btn-search").click(function (event) {
            console.log("click...");
            var name = $("#search").val();
            $.ajax({
                type: "GET",
                url: "/mall/" + name
            });

        })
	</script>


	<!-- cart-js -->
	<script src="/mall/js/minicart.js"></script>
	<script>
		edu.render();

		edu.cart.on('edu_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- reviews -->
	<script>
		function blinker() {
			$('.blinking').fadeOut(500);
			$('.blinking').fadeIn(500);
		}
		setInterval(blinker, 1000);
	</script>
	<script>
		function cycle($item, $cycler) {
			setTimeout(cycle, 2000, $item.next(), $cycler);

			$item.slideUp(1000, function () {
				$item.appendTo($cycler).show();
			});
		}
		cycle($('#cycler div:first'), $('#cycler'));
	</script>
	<!--// reviews -->

	<!-- responsive-tabs -->
	<script src="/mall/js/easy-responsive-tabs.js"></script>
	<script>
        //		$(document).ready(function () {
        //			$('#verticalTab').easyResponsiveTabs({
        //				type: 'vertical',
        //				width: 'auto',
        //				fit: true
        //			});
        //		});
	</script>
	<!-- //responsive-tabs -->

	<!-- Carousel Auto-Cycle -->
	<script>
        //		$(document).ready(function () {
        //			$('.carousel').carousel({
        //				interval: 6000
        //			})
        //		});
	</script>
	<!-- // Carousel Auto-Cycle -->

	<!-- Nav Js -->
	<script type="text/javascript" src="/mall/js/bootstrap.js"></script>
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!--// Nav Js -->

	<!-- bootstrap-pop-up -->
	<#include "pop-up.html"/>
	<!-- //bootstrap-pop-up -->

	<!--pop-up-box -->
	<script src="/mall/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //pop-up-box -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="/mall/js/move-top.js"></script>
	<script type="text/javascript" src="/mall/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smoothscroll -->
	<script src="/mall/js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->



</body>

</html>