<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign In & Sign Up
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="loginf_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">没有账号？点我注册</div>
                            </div>
                            <div class="form">
                                <h3>登录</h3>
                                <form action="/login" method="post">
                                    <input type="text" name="name" placeholder="Username" required="">
                                    <input type="password" name="password" placeholder="Password" required="">
                                    <input type="submit" value="Login">
                                </form>
                                <div class="cta"><a href="#">Forgot your password?</a></div>
                            </div>
                            <div class="form">
                                <h3>注册</h3>
                                <form id="register" action="/regist" method="post">
                                    <input type="text" name="name" placeholder="Username" required="">
                                    <input type="password" name="password" placeholder="Password" required="">
                                    <input type="email" name="email" placeholder="Email address" required="">
                                    <input type="text" name="phone" placeholder="Phone Number" required="">
                                    <input type="submit" value="Register" >
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="/dashboard/layui.js" type="text/javascript"></script>
<script src="/dashboard/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script>

    //=========AJAX submit==========//
    function register() {
        var $ = layui.jquery;
        var domain = window.location.host;
        $.ajax({
            url: domain+'/mall',
            method: 'POST',
            data: JSON.stringify($("#register").serialize()),
            dataType: 'json',
            contentType: "application/json",
            success: function (res) {
                console.log("success")

            },
            error: function (res) {

            },

        });
    }


    $('.toggle').click(function () {
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>