<!DOCTYPE html>
<html>

<head>
	<title>Shop </title>
	<!-- Meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Metga-tags -->

	<!-- Styleshets -->
	<link href="/mall/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-css -->
	<link href="/mall/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!--// Pop-up -->
	<link href="/mall/css/banner.css" rel="stylesheet" type="text/css" media="all" />
	<!--// banner-css -->
	<link rel="stylesheet" href="/mall/css/shop.css" type="text/css" media="screen" property="" />
	<!--// shop-css -->
	<link href="/mall/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- common-css -->
	<link rel="stylesheet" type="text/css" href="/mall/css/jquery-ui1.css">
	<!-- Range-slider-css -->
	<link href="/mall/css/font-awesome.css" rel="stylesheet">
	<!-- // Font-awesome-css -->
	<!--// Styleshets -->

	<!-- layui --->
	<link rel="stylesheet" href="/dashboard/css/layui.css">
	<link rel="stylesheet" href="/dashboard/css/golbal.css">
	<script src="/dashboard/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="/dashboard/layui.js" type="text/javascript"></script>

	<!-- Online-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<!--// Online-fonts -->

    <script type="text/javascript">
        var isCommitted = false;//表单是否已经提交标识，默认为false
        function dosubmit() {
            if (isCommitted == false) {
                isCommitted = true;//提交表单后，将表单是否已经提交标识设置为true
                return true;//返回true让表单正常提交
            } else {
                return false;//返回false那么表单将不提交
            }
        }
    </script>


</head>

<body>
	<!-- header -->
	<div class="header-w3layouts" id="home">
		<!-- header-top -->
		<#include "t-header.html"/>
		<!--// header-top -->
		<!-- header-middle -->
		<div class="header-middle">
			<div class="container">
				<div class="logof-w3-agile">
                    <h3><a href="/index">神龙商城</a></h3>
				</div>
				<div class="searchf-w3-agileits-headr">
					<form>
						<input type="search" id="search" placeholder="输入商品名称搜索..." name="name" placeholder=""
							   required="">
						<button class="btn btn-default search" id="btn-search" aria-label="Left Align">
							<i class="fa fa-search" aria-hidden="true"> </i>
						</button>
					</form>
				</div>
				<div class="cart-mainf">
					<div class="educart educart2 cart cart box_1">
                        <!--<form action="#" method="post" class="last">-->
                        <!--<input type="hidden" name="cmd" value="_cart">-->
                        <!--<input type="hidden" name="display" value="1">-->
                        <!--<button class="top_edu_cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>-->
                        <!--</form>-->
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!--// header-middle -->
		<#include "m-header.html"/>

	</div>
	<!-- banner -->
	<div class="innerf-banner">
	</div>
	<!--//banner -->
	<!-- Page details -->
	<div class="services-agile-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="/mall">首页</a>
					<span>| |</span>
				</li>
				<li>商店</li>
			</ul>
		</div>
	</div>
	<!-- //Page details -->
	<!-- Shop -->
	<div class="innerf-pages">
		<div class="container">
			<!-- product right -->
			<div class="left-ads-display col-md-12">
				<div class="wrapper_top_shop">

					<!-- product-sec1 -->

					<div class="product-sec1">
						<!--/mens-->
						<#list product as p>
							<div class="col-md-4 product-men">
								<div class="product-edu-info edu">
									<div class="thumbnail">
										<a href="#"><img src="${p.getImage()}" alt=""
														 style="width: 300px;height: 300px"></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>商品简介</p>
									</div>
									<div class="caption">
										<h4>${p.getName()}</h4>
										<p>${p.getInfo()}</p>
										<div class="matrlf-mid">
											<h6><span>￥</span>${p.getPrice()}</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
                                        <form action="${request.contextPath}/car" onsubmit="return dosubmit()"
                                              method="post">
											<input type="hidden" name="cid" value="${user.getId()}">
											<input type="hidden" name="pid" value="${p.getId()}">
											<input type="hidden" name="cname" value="${user.getName()}">
											<input type="hidden" name="pname" value="${p.getName()}">
											<input type="hidden" name="value" value="${p.getPrice()}">
											<input type="hidden" name="payment" value="未支付">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus"
																								aria-hidden="true"></i>加入购物车
											</button>
										</form>
									</div>
								</div>
							</div>
						</#list>

						<div class="clearfix"></div>

					</div>

					<!-- //product-sec1 -->
					<div class="clearfix"></div>
				</div>
			</div>


			<!--</div>-->
			<!-- //product left -->

			<div class="clearfix"></div>

		</div>
	</div>
	<!--// Shop -->

	<!-- Subscribe -->
	<!--div class="wthree-subscribef-w3ls"-->

	</div>
	<!--// Subscribe -->
	<!-- footer -->
	<#include "footer.html"/>
	<!-- //footer -->

	<!-- js -->
	<script type="text/javascript">
        $("#btn-search").click(function (event) {
            console.log("click...");
            var name = $("#search").val();
            $.ajax({
                type: "GET",
                url: "/shop/" + name
            });

        })
	</script>

	<!-- Common js -->
	<script type="text/javascript" src="/mall/js/jquery-2.1.4.min.js"></script>
	<!--script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script-->
	<!--// Common js -->

	<!-- add to shopping car -->
	<!--<script>-->
	<!--$('#b1').click(function () {-->
	<!--$.ajax({-->
	<!--type:'POST',-->
	<!--dataType:'json',-->
	<!--url:"dashboard/shopping-car",-->
	<!--data:JSON.stringify($('#p1').serialize())-->
	<!--}).done(function (res) {-->
	<!--console.log("SUCCESS");-->
	<!--})-->
	<!--})-->
	<!--</script>-->



	<!-- cart-js -->
	<script src="/mall/js/minicart.js"></script>
	<script>
		edu.render();

		edu.cart.on('edu_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- price range (top products) -->
    <script src="/mall/js/jquery-ui.js"></script>
	<script>
        //<![CDATA[
		$(window).load(function () {

            $("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [50, 6000],
				slide: function (event, ui) {
                    $("#amount").val("￥" + ui.values[0] + " - ￥" + ui.values[1]);
				}
			});
            $("#amount").val("￥" + $("#slider-range").slider("values", 0) + " - ￥" + $("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!-- //price range (top products) -->


	<!-- Nav Js -->
	<script type="text/javascript" src="/mall/js/bootstrap.js"></script>
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!--// Nav Js -->
	<!-- bootstrap-pop-up -->
	<#include "pop-up.html"/>
	<!-- //bootstrap-pop-up -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="/mall/js/move-top.js"></script>
	<script type="text/javascript" src="/mall/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smoothscroll -->
	<script src="/mall/js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

</body>

</html>